/*──────────────────────────────
  DOCUMENT
──────────────────────────────*/
body {
    background-color: white;
    color: black;
    font-family: "Be Vietnam Pro", sans-serif;
}

* {
    font-weight: 300;
}

/*──────────────────────────────
  NAV SECTION
──────────────────────────────*/
.nav_root {
    width: 100%;
}

.nav_bar {
    width: 1200px;
    justify-content: space-between;
}

.nav_menu {
    align-items: center;

    .link {
        font-weight: var(--font-weight-reg);
    }

    #button_secondary_text {
        font-weight: var(--font-weight-reg);
    }
}

.logo {
    max-width: 3rem;
    overflow: visible;
}

/*──────────────────────────────
  GLOBAL STYLES
──────────────────────────────*/
.button_primary_container {
    padding-inline: var(--space-md);
    padding-block: var(--space-sm);
    background-color: var(--color-text);
    color: var(--color-bg);
}

#button_primary_text {letter-spacing: 1px;}

.button_secondary_container {
    align-self: flex-end;
    padding-block: var(--space-sm);
    width: fit-content;
    border-bottom: 1px solid var(--color-text);
}

.button_secondary_text {letter-spacing: 1px;}

/*──────────────────────────────
  HERO SECTION
──────────────────────────────*/
.section_hero {
    height: 100vh;
}

.hero_grid {
    height: 100vh;
}

.display-grid { display: grid; }
.gap-lg { gap: var(--space-lg); }

.home_page {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xl);
}

.hero_gridwrap_fullname {
    align-content: end;
}

.hero_value_statement {
    width: 20rem;
}

.hero_socials {
    align-items: center;
}

.hero_image_container {
    overflow: hidden;
    max-height: 100%;
    background-color: #FAFAFA;
}

.hero_image { 
    width: 100%;
    /*dont forget fix this image positioning*/
    height: 100%;
 }

 /*──────────────────────────────
  TAGLINE SECTION
──────────────────────────────*/
.section_tagline {
    padding-top: var(--space-3xl);
    padding-bottom: var(--space-5xl);
}

.tagline_text {
    text-transform: uppercase;
    text-wrap-mode: nowrap;
}

/*──────────────────────────────
  VALUE PROPOSITION SECTION
──────────────────────────────*/
.problem_statement {
    font-weight: 500;
}

.heading_sm {
    font-size: var(--font-size-3xl);
    display: inline-block;
    line-height: 1;
}

.values {
    align-content: center;
}

.values_container {
    flex-wrap: wrap;
}

.why_me {
    max-width: 460px;
}

.button_primary_container {
    padding-inline: var(--space-md);
    padding-block: var(--space-sm);
    background-color: var(--color-text);
    color: var(--color-bg);
    
}

#button_primary_text {letter-spacing: 1px;}

.button_wrapper {
    justify-self: end;
}

.heading_build {
    text-wrap-mode: nowrap;
}

.build_card {
    border-bottom: 1px solid var(--color-alt-light);
    padding-bottom: var(--space-md);
    min-height: var(--space-3xl);
}

.build_title {
    text-wrap-mode: nowrap;
    min-width: 406px;
}

/*──────────────────────────────
  WORKS SECTION
──────────────────────────────*/
.section_works{
    height: 100vh;
}

.works_grid {
    height: 100%;
}

.project_card { height: 100%; }

.project_card_heading_container { padding: var(--space-sm); display: flex; align-items: end;}
.project_card_heading { color: var(--color-bg);}
.project_card_text_container { padding: var(--space-sm); display: flex; justify-content: end;}
.project_card_text { color: var(--color-bg);}

/*wrapper should be container component*/
.project_card_image-wrapper {
  width: 100%;
  height: 23.5rem; 
  max-width: 100%;   
  display: flex;
}
/*this image is not really sorted wrt to it size, dont like the hardocoded 23.5*/
.project_card_image { 
    width: 100%;
}


/*──────────────────────────────
  ABOUT SECTION
──────────────────────────────*/
.about_image {
    filter: grayscale(100%);
}

/*──────────────────────────────
  FOOTER SECTION
──────────────────────────────*/
.footer_cta_container {
    text-align: center;
}

.footer_cta_text {
    font-weight: var(--font-weight-reg);
}

.footer_tagline {
    align-content: flex-end;
}

.footer_links_wrapper{
    padding-bottom: var(--space-md);
    align-content: end;
}

.footer_links_container {
    max-width: 100%;
    justify-content: space-between;
}

.footer_link {
    font-weight: var(--font-weight-med);
}

/*footer <P>*/
#kern-md {
    letter-spacing: 0px;
}



/*h3 token to change min clamp from 36 to 24 or otherway around*/


