/*──────────────────────────────
  DOCUMENT
──────────────────────────────*/
body {
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: "Be Vietnam Pro", sans-serif;
}

* {
    font-weight: var(--font-weight-reg);
}

html { 
    scroll-behavior: smooth;
} 

/*──────────────────────────────
  NAV SECTION
──────────────────────────────*/
.nav_root {
    width: 100%;
    z-index: 1000;
}

.nav_bar {
    width: 1200px;
    justify-content: space-between;
    height: 100%;
    overflow: visible;
}

.nav_menu {
    align-items: center;
    height: 100%;
    margin-block: var(--space-md);

    .nav_link {
        font-weight: var(--font-weight-md);
        border: none;
        background-color: transparent;
        padding-block: var(--space-sm);
        padding-inline: 0px;
        text-wrap-mode: nowrap;
        letter-spacing: var(--kerning-lg);
        text-transform: capitalize;
        font-size: var(--font-size-md);
        line-height: calc(var(--font-size-md) * 1.6);
        color: var(--color-dark);
        border-bottom: 1px solid var(--color-white);
        transition: border-bottom var(--motion-duration-slow) var(--motion-ease-standard);
    }

    .nav_link:hover {
        box-shadow: none;
        border-bottom: 1px solid var(--color-neutral);
    }

    .nav_contact_button {
        border-bottom: 1px solid var(--color-dark);
    }
}

.nav_logo_wrapper.nav_logo_wrapper {
    margin-block: auto;
    height: var(--space-2xl);
    overflow: visible;
}

.logo {
    max-width: var(--space-2xl);
}

.nav_bar .nav_logo--hidden-on-scroll {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.nav_bar .nav_menu--hidden-on-scroll {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.nav_bar .nav_toggle--visible {
    border: none;
    box-sizing: border-box;
    background-color: var(--color-black);
    padding-inline: var(--space-md);
    padding-block: var(--space-sm);
    /* fixed button height, otherwise collapses, content renders as 0px */
    min-height: 2.5rem;
    transition:     
        transform var(--motion-duration-quick) var(--motion-ease-standard),
        box-shadow var(--motion-duration-quick) var(--motion-ease-standard);
}

.nav_bar .nav_toggle--visible:hover {
    transition-timing-function: var(--motion-ease-standard);
    transform: scale(var(--motion-scale-hover));
    box-shadow: var(--motion-shadow-hover);scale: var(--motion-scale-hover);
} 

.nav_bar .nav_toggle--visible:active {
  transition-timing-function: var(--motion-ease-emphasized);
  transform: scale(var(--motion-scale-press));
  box-shadow: var(--motion-shadow-press);
}

.nav_bar .nav_toggle--visible .nav_toggle_text--open {
    display: inline-block;
    color: var(--color-white);
    letter-spacing: var(--kerning-lg);
    text-transform: uppercase;
}

.nav_bar .nav_toggle--hidden {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.nav_overlay.nav_overlay {
    position: fixed;
    inset: 0;
    background: var(--color-black);
    z-index: 99999999999999999999999999999999;

    .nav_overlay_close_container {
        align-content: end;
    }

    .nav_close_toggle {
        font-size: var(--font-size-lg);
        line-height: calc(var(--font-size-lg) * 1.6);
        color: var(--color-neutral);
        background-color: transparent;
        padding-block: var(--space-xs);
        padding-inline: 0px;
        border: none;
        border-bottom: 1px solid var(--color-black);
        transition: 
            color var(--motion-duration-easy) var(--motion-ease-decelerate),
            border-bottom var(--motion-duration-easy) var(--motion-ease-decelerate);
    }

    .nav_close_toggle:hover {
        border-bottom: 1px solid var(--color-white);
        color: var(--color-white);
    }

    .nav_overlay_heading_wrapper {
        align-content: end;
    }

    .nav_overlay_section_heading {
        font-weight: var(--font-weight-md);
        border: none;
        background-color: transparent;
        padding-block: var(--space-xs);
        padding-inline: 0px;
        border-bottom: var(--space-xs) solid var(--color-black);
        color: var(--color-neutral);
        font-size: var(--font-size-4xl);
        line-height: calc(var(--font-size-3xl) * 1.6);
        text-align: left;
        transition: 
            color var(--motion-duration-slow) var(--motion-ease-decelerate),
            scale var(--motion-duration-slow) var(--motion-ease-decelerate),
            border-bottom var(--motion-duration-slow) var(--motion-ease-decelerate);
    }

    .nav_overlay_section_heading:hover {
        border-bottom: var(--space-xs) solid var(--color-white);
        color: var(--color-white);
    }

     .nav_overlay_section_heading:active {
        transition-timing-function: var(--motion-duration-standard);
        scale: var(--motion-scale-press);
        border-bottom: var(--space-xs) solid var(--color-white);
        color: var(--color-white);
    }

    .nav_overlay_links_wrapper {
        align-content: end;
    }

    .nav_overlay_links_container {
        width: fit-content;
    }

    .nav_overlay_link {
        font-size: var(--font-size-lg);
        line-height: calc(var(--font-size-lg) * 1.6);
        color: var(--color-neutral);
        border-bottom: 1px solid var(--color-black);
        transition:
            color var(--motion-duration-easy) var(--motion-ease-decelerate), 
            border-bottom var(--motion-duration-easy) var(--motion-ease-decelerate),
            scale var(--motion-duration-easy) var(--motion-ease-decelerate);
    }

    .nav_overlay_link:hover {
        box-shadow: none;
        border-bottom: 1px solid var(--color-light);
        color: var(--color-light);
        scale: var(--motion-scale-hover);
    }

    .nav_overlay_link:active {
        box-shadow: none;
        scale: var(--motion-scale-press);
    }
}

/*──────────────────────────────
  GLOBAL STYLES
──────────────────────────────*/
.button_primary_container {
    padding-inline: var(--space-md);
    padding-block: var(--space-sm);
    background-color: var(--color-black);
    color: var(--color-bg);
}

.button_primary_text.button_primary_text {
    letter-spacing: var(--kerning-lg);
    color: var(--color-white);
}

.button_secondary_container {
    padding-block: var(--space-sm);
    padding-inline: 0px;
    width: fit-content;
    border: none;
    border-bottom: 1px solid var(--color-black);
    background-color: transparent;
}

.button_secondary_text.button_secondary_text {
    letter-spacing: var(--kerning-lg);
    font-size: var(--font-size-lg);
    line-height: calc(var(--font-size-md) * 1.6);
    font-weight: var(--font-weight-md);
    color: var(--color-dark);
    text-wrap-mode: nowrap;
}

.paragraph--sm { 
    color: var(--color-dark)
}

.paragraph--md { 
    color: var(--color-dark)
}

.paragraph--lg { 
    color: var(--color-dark)
}

.modal--closed {
    display: none;
}

.modal--open {
    display: block;
}

/*──────────────────────────────
  GLOBAL MOTION 
──────────────────────────────*/
.l2-reveal-heading {
  opacity: 0;
  transform: translateY(1rem);
  transition:
    opacity var(--motion-duration-slow) var(--motion-ease-fluid),
    transform var(--motion-duration-slow) var(--motion-ease-fluid);
}

.l2-reveal-heading.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.l2-reveal-paragraph {
  opacity: 0;
  transform: translateY(0.5rem);
  transition:
    opacity var(--motion-duration-easy) var(--motion-ease-fluid),
    transform var(--motion-duration-easy) var(--motion-ease-fluid);
}

.l2-reveal-paragraph.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.l2-reveal-image {
  opacity: 0;
  transform: scale(1.05);
  filter: brightness(0);
  transition:
    opacity var(--motion-duration-slow) var(--motion-ease-fluid),
    transform var(--motion-duration-slow) var(--motion-ease-fluid),
    filter var(--motion-duration-slow) var(--motion-ease-fluid);
}

.l2-reveal-image.is-visible {
  opacity: 1;
  transform: scale(1);
  filter: brightness(1);
}

.l2-reveal-image--blur {
  filter: blur(12px);
}

.l2-reveal---blur.is-visible {
  filter: blur(0);
}

.l2-reveal-image--vignette {
  position: relative;
}

.l2-reveal-image--vignette::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle,
    rgba(0,0,0,0.6) 0%,
    rgba(0,0,0,0.4) 40%,
    rgba(0,0,0,0.0) 70%
  );
  pointer-events: none;
}

.l2-reveal-image--vignette.is-visible {
  opacity: 1;
  transform: scale(1);
}

.l2-reveal-image--vignette.is-visible::after {
  opacity: 0;
}

.l3-reveal-hero {
  opacity: 0;
  transform: translateY(20px) scale(1.02);
  filter: blur(8px);
  transition:
    opacity 1s var(--motion-ease-fluid),
    transform 1s var(--motion-ease-fluid),
    filter 1s var(--motion-ease-fluid);
}

.l3-reveal-hero.is-visible {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}

.l3-reveal-hero-2 {
  opacity: 0;
  transform: translateY(20px) scale(1.02);
  filter: blur(8px);
  transition:
    opacity 1s var(--motion-ease-fluid),
    transform 1s var(--motion-ease-fluid),
    filter 1s var(--motion-ease-fluid);
}

.l3-reveal-hero-2.is-visible {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}

.l3-reveal-hero-3 {
  opacity: 0;
  transform: translateY(20px) scale(1.02);
  filter: blur(8px);
  transition:
    opacity 1s var(--motion-ease-fluid),
    transform 1s var(--motion-ease-fluid),
    filter 1s var(--motion-ease-fluid);
}

.l3-reveal-hero-3.is-visible {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}

/*──────────────────────────────
  CONTACT MODAL
──────────────────────────────*/
.contact_modal_wrapper.contact_modal_wrapper {
    justify-content: flex-end;

    .contact_modal_grid {
        height: 100vh;
        width: 600px;
        max-width: 90vw;
        max-height: 90vh;
        background-color: var(--color-black);
    }
}

.contact_me_modal_heading.contact_me_modal_heading {
    color: var(--color-white);
    font-weight: var(--font-weight-md);
    letter-spacing: var(--kerning-lg);
    text-transform: capitalize;
}

.contact_me_modal_text.contact_me_modal_text {
    color: var(--color-neutral);
}

.contact_me_modal_link {
    color: var(--color-white);
    font-size: var(--font-size-lg);
}

.button_container--ghost--dark {
    border: 1px solid var(--color-white);
    padding-inline: var(--space-md);
    padding-block: var(--space-sm);
    letter-spacing: var(--kerning-lg);
    background-color: transparent;
    color: var(--color-white);
}

/*──────────────────────────────
  HERO SECTION
──────────────────────────────*/

#section_hero {
    height: 100vh;
    padding-inline: var(--space-lg);
    padding-bottom: var(--space-lg);
    height: 100vh;
}

.hero_grid {
    height: 100%;
}

.display-grid { 
    display: grid; 
}

.gap-lg { 
    gap: var(--space-lg); 
}

.home_page {
    display: flex;
    flex-direction: column;
    gap: var(--space-6xl);
}

.hero_gridwrap_job {
    align-content: end;
}

.hero_gridwrap_fullname {
    align-content: end;

    .full_name {
        font-size: var(--font-size-sectitle);
        line-height: calc(var(--font-size-sectitle) * 1.0);
        text-wrap: wrap;
    }
}

.hero_value_statement {
    width: 20rem;
}

.hero_socials {
    align-items: center;
    height: 24px;

    a {
        height: 100%;
        
        & > img {
            filter: invert(27%) sepia(10%) saturate(100%) hue-rotate(200deg);
        }
    }
}

/* .hero_image_container {
    border: 1px solid var(--color-light);
} */

.hero_image { 
    width: 100%;
    height: 100%;
    object-position: 100% 80%;
 }

 /*──────────────────────────────
  TAGLINE SECTION
──────────────────────────────*/
.section_tagline.section_tagline {
    padding-top: 0rem;
    padding-left: var(--space-sm);
}

.tagline_text {
    text-transform: uppercase;
    text-wrap-mode: nowrap;
    color: var(--color-neutral);
}

.tagline_text.tagline--lg {
    font-size: var(--font-size-4xl);
    letter-spacing: var(--kerning-lg);
    opacity: 0.35;
}

/*──────────────────────────────
  VALUE PROPOSITION SECTION
──────────────────────────────*/
.problem_statement.problem_statement {
    font-weight: var(--font-weight-sb);
    letter-spacing: var(--kerning-sm);
}

.heading_sm {
    font-size: var(--font-size-4xl);
    display: inline-block;
    line-height: 1;
}

.values {
    align-content: center;
}

.values_container {
    flex-wrap: wrap;
}

.why_me {
    max-width: 460px;
}

.button_wrapper {
    justify-self: end;
}

.values_titles.values_titles {
    font-weight: var(--font-weight-md);
}

/*──────────────────────────────
  CAPABILITIES SECTION
──────────────────────────────*/
.section_build {
    height: 100vh;
}

.build_wrapper {
    align-content: center;
}

.heading_build {
    text-wrap-mode: nowrap;
}

.build_card {
    border-bottom: 1px solid var(--color-neutral);
    padding-bottom: var(--space-md);
    min-height: var(--space-3xl);
}

.build_title.build_title {
    font-weight: var(--font-weight-md);
    text-wrap-mode: nowrap;
    min-width: 406px;
}

/*──────────────────────────────
  WORKS SECTION
──────────────────────────────*/
.section_works{
    height: 100vh;
}

.works_grid {
    height: 100%;
}

.project_card { 
    height: 100%; 
}

.project_card_heading_container { 
    padding: var(--space-md); 
    display: flex; 
    align-items: end;
}

.project_card_heading { 
    color: var(--color-white);
}

.project_card_text_container { 
    padding: var(--space-md); 
    display: flex; 
    justify-content: end;
}

.project_card_text { 
    color: var(--color-white);
    opacity: 0;
    transition: opacity var(--motion-duration-cinematic) var(--motion-ease-decelerate);
}

.project_card:hover .project_card_text {
    opacity: 1;
}

.project_card:active .project_card_text {
    transition-timing-function: var(--motion-duration-quick);
    opacity: 0.8;
}

.project_card_image { 
    width: 100%;
    transition: scale var(--motion-duration-cinematic) var(--motion-ease-decelerate);
}

.project_card:hover .project_card_image {
    scale: var(--motion-scale-hover);
}

.project_card:active .project_card_image {
    transition-timing-function: var(--motion-duration-quick);
    scale: var(--motion-scale-press);
}

.project_card_overlay {
    --project-card-overlay-color: var(--color-overlay--inactive);
    transition: background-color var(--motion-duration-cinematic) var(--motion-ease-decelerate);
}

.project_card:hover .project_card_overlay {
    --project-card-overlay-color: var(--color-overlay--active);
}

.project_card_image-wrapper {
  height: 100%;
}

/*──────────────────────────────
  CASE STUDY SECTION
──────────────────────────────*/
.section_case_study {
    margin-top: var(--space-6xl);
}

.case_study_heading_container {
    margin-bottom: var(--space-xl);
}

.sidebar_wrapper {
    height: 100%;
}

.sidebar_container {
    position: sticky;
    top: var(--space-3xl);
    height: 90vh;
    justify-content: space-between;
}

.return_container {
    display: flex;
    align-items: end;    
}

.return_button.return_button {
    padding-block: var(--space-sm);
    padding-inline: 0px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-neutral);
    transition: 
        border-bottom var(--motion-duration-standard) var(--motion-ease-decelerate);

    & > .button_secondary_text {
        font-weight: var(--font-weight-md); 
        font-size: var(--font-size-lg);
        color: var(--color-neutral);
        line-height: calc(var(--font-size-lg) * 1.6);
        letter-spacing: var(--kerning-lg);
        transition: 
            color var(--motion-duration-standard) var(--motion-ease-decelerate);
    }

    & > .button_secondary_text:hover {
        color: var(--color-dark);
    }
}
        
.return_container .return_button:hover {
    box-shadow: none;
    border-bottom: 1px solid var(--color-dark);
}

.project_title--inactive {
    color: var(--color-neutral);
    height: var(--space-3xl);
    transition: 
        scale var(--motion-duration-standard) var(--motion-ease-decelerate),
        border-bottom var(--motion-duration-standard) var(--motion-ease-decelerate);
}

.project_title--inactive:hover {
    scale: var(--motion-scale-hover);
    border-bottom: 4px solid var(--color-neutral);
}

.project_title--inactive:active {
    scale: var(--motion-scale-press);
    border-bottom: 1px solid var(--color-neutral);
}

.project_links_container .project_title--active {
    color: var(--color-dark);
    font-size: var(--font-size-2xl);
    line-height: var(--font-size-2xl);
    height: var(--space-3xl);
    transition: 
        scale var(--motion-duration-standard) var(--motion-ease-decelerate),
        border-bottom var(--motion-duration-standard) var(--motion-ease-decelerate);
}

.project_title--active:hover {
    scale: var(--motion-scale-hover);
    border-bottom: 4px solid var(--color-dark);
}

.case_study_links_container {
    justify-content: end;

    p {
        color: var(--color-dark);
    }
}

.case_study_content_container {
    padding-inline: var(--space-2xl);
}

.pill_container {
    flex-wrap: wrap;
    margin-top: var(--space-4xl);
    margin-bottom: var(--space-2xl);

    .case_study_pill {
        background-color: var(--color-light);
        border-color: var(--color-neutral);
        color: var(--color-dark);
        font-size: var(--font-size-sm);
    }
}

.case_study_heading {
    margin-top: var(--space-2xl);
    margin-bottom: var(--space-md);
}

.case_study_paragraph {
    margin-block: var(--space-md);
}

.case_study_list {
    color: var(--color-dark);
    font-size: var(--font-size-md);
    line-height: calc(var(--font-size-md) * 1.2);
    letter-spacing: var(--kerning-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    margin-top: var(--space-xs);
    margin-bottom: var(--space-sm);
}

.case_study_pullquote {
    margin-block: var(--space-2xl);
}

.bleed {
    margin-inline: 0px;
}

.case_study_quoteblock {
    margin-block: var(--space-2xl);
}

.case_study_inlinequote {
    margin-block: var(--space-sm);
}

.case_study_callout {
    margin-block: var(--space-2xl);
}

.case_study_collaborator_wrapper {
    margin-top: var(--space-sm);
    margin-bottom: var(--space-2xl);
    
    h6 {
        color: var(--color-dark);
        font-weight: var(--font-weight-reg);
        margin-bottom: var(--space-sm);
    }

    a {
        color: var(--color-dark);
        font-size: var(--font-size-sm);
    }
}
    
.case_study_content_container:has( > .case_study_image_wrapper) {
    height: 50vh;
    margin-top: var(--space-sm);
    margin-bottom: var(--space-xl);
}

.case_study_content_image_wrapper {
    border: 1px solid var(--color-neutral);
    padding: var(--space-lg);
    height: 100%;
    width: 100%;
    justify-items: center;
    align-content: center;
}

.case_study_content_image {
    height: 100%;
    width: 100%;
}

.case_study_media_container {
    margin-top: var(--space-sm);
    margin-bottom: var(--space-md);
    margin-inline: 0px;
    height: 100vh;
    max-height: 90vh;
    padding: var(--space-lg);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);

    .figure_caption {
        font-size: var(--font-size-sm);
        line-height: var(--font-size-sm);
        color: var(--color-dark);
        border: 1px solid var(--color-neutral);
        padding: var(--space-md);
    }
}

.case_study_media_image {
    border: 1px solid var(--color-neutral);
    padding: var(--space-lg);
    height: 95%;
    width: 100%;
    object-fit: contain;
}

/*──────────────────────────────
  ABOUT SECTION
──────────────────────────────*/
.section_about {
    height: 100vh;
}

.about_grid {
    height: 100%;
}

/* .about_image_container {
    background-color: var(--color-black);
} */

.about_button_wrapper {
    justify-content: end;

    .button {
        justify-self: end;
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: 1px solid var(--color-dark);
        background-color: transparent;
        padding-inline: 0rem;
        transition: border-bottom var(--motion-duration-standard) var(--motion-ease-standard);
    }

    .button:hover {
        box-shadow: none;
        border-bottom: 1px solid var(--color-neutral);
    }

}

.about_modal {
    .modal_content_container {
        height: 100%;
        width: 1200px;
        max-width: 90vw;
        max-height: 90vh;
    } 
}

.about_me_modal_button_wrapper {
    align-content: end;

    .about_me_modal_button {
        width: 100%;
    }

    .button_primary_text {
        color: var(--color-white);
        letter-spacing: var(--kerning-lg);
    }
}

.about_me_modal_grid_container {
    height: 100%;
}

/*──────────────────────────────
  FOOTER SECTION
──────────────────────────────*/
.section_footer {
    height: 100vh;
}

.footer_cta_container {
    text-align: center;
}

.footer_cta_text.footer_cta_text {
    font-weight: var(--font-weight-md);
    letter-spacing: var(--kerning-sm);
}

.footer_content_wrapper {
    height: 100%;
}

.footer_image_container {
    height: 100%;
    
    img {
        /* object-position: 100% 35%; */
        max-width: 20rem;
    }
}

.footer_main_text.footer_main_text {
    max-width: 50%;
    letter-spacing: var(--kerning-lg);
}

.footer_tagline {
    align-content: flex-end;
}

.footer_links_wrapper{
    padding-bottom: var(--space-md);
    align-content: end;
}

.footer_links_container {
    max-width: 100%;
    justify-content: space-between;
}

.footer_link {
    font-weight: var(--font-weight-md);
    letter-spacing: var(--kerning-lg);
    padding-bottom: var(--space-sm);
    border-bottom: 1px solid var(--color-white);
    transition: border-bottom var(--motion-duration-standard) var(--motion-ease-standard);
}

.footer_links_container .footer_link:hover {
    box-shadow: none;
    border-bottom: 1px solid var(--color-neutral);
}
